<!DOCTYPE html>
<html>
<head>
    <title>Drone Monitoring App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="//cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('dashboard') }}">New Dashboard</a> |
        <a href="{{ url_for('wifi_tab') }}">Wi-Fi Monitor</a> |
        <a href="{{ url_for('mavlink_tab') }}">MAVLink Monitor</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
